.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  fill: white;
}

.App-header {
  /*background: linear-gradient(#0aa3bc, #5256bc);*/
  background: url('https://www.shopplaywin.com/static/img/bg-burst-long.e619bc6.jpg');
  background-size: cover;
  height: 150px;
  padding: 20px;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2)
}

.App-pieces {
  display: flex;
  justify-content: center;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: smaller;
}

.App-header h1 {
  margin: -30px 0 0 0;
  text-transform: uppercase;
}

.App-title {
  font-size: 1.5em;
}

.App-section {
  max-width: 500px;
  margin: 20px auto;
  padding: var(--panelPadding);
  border-radius: var(--smallBorderRadius);
  border: 1px solid var(--siteSecondaryColor);
  background: white;
}

.App-image {
  width: 150px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: var(--smallBorderRadius);
  background: var(--siteSecondaryColor);
  border: 1px solid var(--siteTertiaryTextColor);
}

.App-how ul {
  text-align: left;
}

.App-how li {
  margin-bottom: 15px;
}

.App-button {
  display: inline-block;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  background-color: #40a75a;
  padding: 20px 40px;
  text-transform: uppercase;
  margin: 5px;
  white-space: nowrap;
  position: relative;
  width: 240px;
}

.App-button.uploading {
  background-color: #c2c2c2;
}

.App-upload-progress-bar {
  background-color: #40a75a;
  transition: width 400ms;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  border-radius: var(--smallBorderRadius)
}

.App-upload-progress span {
  position: absolute;
  z-index: 1;
  left: 57px;
}

.App-button span {
  margin-right: 8px;
}

.App-ticket {
  margin: 20px 0;
  position: relative;
}

.App-ticket-image {
  width: 100%;
}

.App-ticket-meta {
  position: absolute;
  border-radius: 10px;
  background: black;
  color: white;
  font-size: 10px;
  padding: 2px 7px;
  bottom: -1px;
}

.App-ticket-meta-label {
  text-transform: uppercase;
}

.App-ticket-meta-label-a {
  right: 147px;
}

.App-ticket-meta-label-b {
  right: 97px;
}

.App-ticket-meta-label-c {
  right: 47px;
}

.App-ticket-meta-label-d {
  right: -2px
}

.App-ticket-meta-time {
  left: -8px;
}

.App-ticket-meta-time svg{
  fill: white;
  display: inline-block;
  height: 10px;
  margin: 0 6px -2px -3px;
}